.compare {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 300px;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". .";
    width: 90%;
    height: 40%;
  }
  