@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{ 
  font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
table {
  margin: 10px auto;
  border-radius: 5px;
  background-color: ivory;
  text-align: center;
}
table th{
  border-bottom: 2px solid black;
}
body {
  background-image: url('https://cdn.suwalls.com/wallpapers/games/call-of-duty-modern-warfare-2-196-1920x1200.jpg');
  background-position: center; /* Center the image */
  /* background-size: cover; Resize the background image to cover the entire container */
  margin: 0 auto;
  min-width: 450px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

