
.navbar{
  z-index: 9999999;
  display: flex;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  overflow: hidden;
  width: 100%;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  vertical-align:middle
}
.homebtn{
  font-family: 'Black Ops One', cursive;
  font-size: 2rem;
}

.navbar a{
  text-decoration: none;
}
.navbar a:link {
  color: whitesmoke;
}
.navbar a:visited {
  color: white;
}
.navbar a:hover {
  color: red;
}
.navbar a.selected:link, a.selected:visited{ 
  color: maroon;
}
.ak {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

